{% extends "base.html" %}

{% block title %}ログイン{% endblock %}
{% block body %}

    <h1>ログイン</h1>
    <form method="POST">
        {{ forms.hidden_tag() }}
        {{ forms.username.label }}{{ forms.username() }}
        {{ forms.password.label }}{{ forms.password() }}
        {{ forms.submit_login() }}
    </form>

    <form method="POST">
        {{ forms_guest.hidden_tag() }}
        {{ forms_guest.submit_guest() }}
    </form>
    {% with msg = get_flashed_messages() %}
        {% if msg %}
            <p>{{ msg[-1] }}</p>
        {% endif %}
    {% endwith %}

{% endblock %}
